<a href="https://colab.research.google.com/github/minsoo3102/python_1/blob/main/day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

입력문 사용법

문자열 저장하기(str)

In [ ]:
str = input("How old are you:")
print(str)

How old are you:x
x

In [ ]:
str = input("How old are you:")
print(str+'years old')

How old are you:20
20years old

In [ ]:
str = input("How old are you:")
print(str,'years old',sep=' ')

How old are you:20
20 years old

정수로 저장하기 (int)

In [ ]:
x = int(input('number : '))
print(x)

number : 322
322

실수로 저장하기(float)

In [ ]:
x = float(input('number : '))
print(x)

number : 32
32.0

문자를 숫자로 바꾸기 (eval())

In [ ]:
year = input('This year: ')
year = eval(year)
year = year + 1
print("Next year:", year)

This year: 2024
Next year: 2025

입력문 사용법-예제

In [ ]:
i = 0
result = 0
while i < 5:
  a =  input("성적 입력 : ")
  result += int(a)
  i += 1

print(f'평균 : {result / 5}')

성적 입력 : 15
성적 입력 : 20
성적 입력 : 40
성적 입력 : 47
성적 입력 : 33
평균 : 31.0

반복문- for loop 문

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

for 카운트변수 in

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
result = 0
for a in range(1,101):
  result = result + a

print(result)

5050

break
for문으로 돌아가고 싶을때

In [ ]:
index = 0
s = "BlockDMask"
for a in s :
  if a == 'k':
    break

  index+=1

print(index)

4

In [ ]:
result = 0
for a in range(1,101):
  result += a

  if result > 100:
    print(a)
    break

    print(result)

14

contine

In [ ]:
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
  if a>170:
    continue
  print(a)

170
164

In [ ]:
result = 0
for a in range(1,101):
  if a % 2 == 1:
    result += a

print(result)

2500

이중 loop

In [ ]:
sr=['father','mother','brother']
cnt=0
for s in sr:
    print(s)
    for c in s:
        if c == 'r':
            cnt +=1
print(cnt)

father
mother
brother
4

1,2차원 리스트 만들

In [ ]:
a = []
for i in range(10):
  a.append(0)

print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
a = []

for i in range(3):
  line = []
  for j in range(2):
    line.append(0)
  a.append(line)

print(a)

[[0, 0], [0, 0], [0, 0]]

기타 range() 함

In [ ]:
print(list(range(0,10,3)))

[0, 3, 6, 9]

In [ ]:
print(list(range(10,0,-3)))

[10, 7, 4, 1]

In [ ]:
for i in range(10, 0, -3):
  print(i)

10
7
4
1

기타 enumerate() 함

In [ ]:
a = ['Alice','Bob','Charlie']

for name in a:
  print(name)

for i, name in enumerate(a):
  print(i, name)

Alice
Bob
Charlie
0 Alice
1 Bob
2 Charlie